Node(AddExp, [
              Node(MulExp, [
                Node(UnaryExp, [
                  Node(PrimaryExp, [
                    Node(Number, [
                      Token(IntConst, "1"),
                    ]),
                  ]),
                ]),
              ]),
])